<h1 align=center><font size = 6>Segmenting and Clustering Neighborhoods in Toronto</font></h1>

## Introduction

**Objective:** To explore, segment and group the neighbourhoods of the city of Toronto.   
The information is obtained with web scraping by Wikipedia and the data is transformed into a structured data format.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<font size = 3>   
    
1. <a href="##1">New Notebook</a>      
    
2. <a href="#item2">Web Scraping</a>     
    
3. <a href="#item3">Creating a Dataframe</a>     
    
4. <a href="#item4">Github's link to the notebook</a>     
    
5. <a href="##.5">Share results</a>   
    
</font>
</div>

###  Loading the data

In [15]:
!pip install beautifulsoup4 # HTML and XML data extraction library.
!pip install request #

Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from beautifulsoup4) (1.7.1)
Requirement already satisfied: request in /opt/conda/envs/Python36/lib/python3.6/site-packages (2019.4.13)
Requirement already satisfied: setuptools in /opt/conda/envs/Python36/lib/python3.6/site-packages (from request) (40.8.0)
Requirement already satisfied: post in /opt/conda/envs/Python36/lib/python3.6/site-packages (from request) (2019.4.13)
Requirement already satisfied: get in /opt/conda/envs/Python36/lib/python3.6/site-packages (from request) (2019.4.13)
Requirement already satisfied: query-string in /opt/conda/envs/Python36/lib/python3.6/site-packages (from get->request) (2019.4.13)
Requirement already satisfied: public in /opt/conda/envs/Python36/lib/python3.6/site-packages (from query-string->get->request) (2019.4.13)

In [221]:
# Library
import pandas as pd
from bs4 import BeautifulSoup
import requests

### Creating a data frame

* The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [222]:
# Loading the url data.
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page_response = requests.get(url,timeout=5)
soup = BeautifulSoup(page_response.content,'lxml')
table = soup.find_all('table')[0] # Filtering the html data table
df = pd.read_html(str(table))[0] # Transforming data with pandas
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,170,171,172,173,174,175,176,177,178,179
Postal code,M1A,M2A,M3A,M4A,M5A,M6A,M7A,M8A,M9A,M1B,...,M9Y,M1Z,M2Z,M3Z,M4Z,M5Z,M6Z,M7Z,M8Z,M9Z
Borough,Not assigned,Not assigned,North York,North York,Downtown Toronto,North York,Downtown Toronto,Not assigned,Etobicoke,Scarborough,...,Not assigned,Not assigned,Not assigned,Not assigned,Not assigned,Not assigned,Not assigned,Not assigned,Etobicoke,Not assigned
Neighborhood,NaN,NaN,Parkwoods,Victoria Village,Regent Park / Harbourfront,Lawrence Manor / Lawrence Heights,Queen's Park / Ontario Provincial Government,NaN,Islington Avenue,Malvern / Rouge,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mimico NW / The Queensway West / South of Bloo...,NaN

In [223]:
print("size: ",df.shape)
df.describe()

size:  (180, 3)

       Postal code       Borough Neighborhood
count          180           180          103
unique         180            11           98
top            M6L  Not assigned    Downsview
freq             1            77            4

### Filtering data   

* Only cells that have an assigned district are processed.

In [252]:
na = df['Borough'] != 'Not assigned'
df_na = df[na]
df_na.count()

Postal code     103
Borough         103
Neighborhood    103
dtype: int64

In [238]:
print("Size: ",df_na.shape)
print(df_na.isnull().sum())
df_na.describe()

Size:  (103, 3)
Postal code     0
Borough         0
Neighborhood    0
dtype: int64

       Postal code     Borough Neighborhood
count          103         103          103
unique         103          10           98
top            M6L  North York    Downsview
freq             1          24            4

In [255]:
df_na.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

### Replacing character "/" with ","

In [286]:
import numpy as np
new_data = df_na
new_data['Neighborhood'] = new_data['Neighborhood'].str.replace('/',',')
# changing start index
new_data.index = np.arange(0, len(new_data))
new_data.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

<div class="alert alert-block alert-danger" style="margin-top: 20px">
<b>This point does not apply.</b>
    <li> If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.</li></div>

In [287]:
new_data.shape

(103, 3)

**To be continued in part 2**

This notebook was created by [Carlos Alberto GÃ³mez Prado](https://www.linkedin.com/in/carlospradobigdata/), as an assignment for the IBM coursera course.   
This notebook is part of a course on Coursera called Applied Data Science Capstone.